<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jubaozan.commission.service.dao.mapper.StoreDepartmentConfigMapper">

    <resultMap id="BaseResultMap" type="commission.service.model.StoreDepartmentConfig">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="taxRate" column="tax_rate" jdbcType="DECIMAL"/>
            <result property="orgid" column="orgid" jdbcType="BIGINT"/>
            <result property="orgType" column="org_type" jdbcType="INTEGER"/>
            <result property="createAt" column="create_at" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="BIGINT"/>
            <result property="updateAt" column="update_at" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="BIGINT"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="Base_Column_List">
        m.id,m.tax_rate,m.orgid,m.org_type,m.create_at,m.create_user,m.update_at,m.update_user,m.remark
    </sql>

    <select id="getById" parameterType="int" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List" />
        from
            t_store_department_config m
        where
            id = #{id}
    </select>

    <select id="countBy" resultType="int">
        select count(*)
        from t_store_department_config
        where 1=1
          <if test="query != null and query.id != null">
            and id = #{ query.id, jdbcType=BIGINT }
          </if>
          <if test="query != null and query.taxRate != null">
            and tax_rate = #{ query.taxRate, jdbcType=DECIMAL }
          </if>
          <if test="query != null and query.orgid != null">
            and orgid = #{ query.orgid, jdbcType=BIGINT }
          </if>
          <if test="query != null and query.orgType != null">
            and org_type = #{ query.orgType, jdbcType=INTEGER }
          </if>
          <if test="query != null and query.createAt != null">
            and create_at = #{ query.createAt, jdbcType=TIMESTAMP }
          </if>
          <if test="query != null and query.createUser != null">
            and create_user = #{ query.createUser, jdbcType=BIGINT }
          </if>
          <if test="query != null and query.updateAt != null">
            and update_at = #{ query.updateAt, jdbcType=TIMESTAMP }
          </if>
          <if test="query != null and query.updateUser != null">
            and update_user = #{ query.updateUser, jdbcType=BIGINT }
          </if>
          <if test="query != null and query.remark != null">
            and remark = #{ query.remark, jdbcType=VARCHAR }
          </if>
    </select>

    <select id="search" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List" />
        from t_store_department_config m
        where 1=1
            <if test="query != null and query.id != null">
              and id = #{ query.id, jdbcType=BIGINT }
            </if>
            <if test="query != null and query.taxRate != null">
              and tax_rate = #{ query.taxRate, jdbcType=DECIMAL }
            </if>
            <if test="query != null and query.orgid != null">
              and orgid = #{ query.orgid, jdbcType=BIGINT }
            </if>
            <if test="query != null and query.orgType != null">
              and org_type = #{ query.orgType, jdbcType=INTEGER }
            </if>
            <if test="query != null and query.createAt != null">
              and create_at = #{ query.createAt, jdbcType=TIMESTAMP }
            </if>
            <if test="query != null and query.createUser != null">
              and create_user = #{ query.createUser, jdbcType=BIGINT }
            </if>
            <if test="query != null and query.updateAt != null">
              and update_at = #{ query.updateAt, jdbcType=TIMESTAMP }
            </if>
            <if test="query != null and query.updateUser != null">
              and update_user = #{ query.updateUser, jdbcType=BIGINT }
            </if>
            <if test="query != null and query.remark != null">
              and remark = #{ query.remark, jdbcType=VARCHAR }
            </if>

    </select>

    <update id="update" parameterType="commission.service.model.StoreDepartmentConfig">
        update t_store_department_config
        <set>
            <if test="taxRate != null">
              tax_rate = #{taxRate, jdbcType=DECIMAL },
            </if>
            <if test="orgid != null">
              orgid = #{orgid, jdbcType=BIGINT },
            </if>
            <if test="orgType != null">
              org_type = #{orgType, jdbcType=INTEGER },
            </if>
            <if test="createAt != null">
              create_at = #{createAt, jdbcType=TIMESTAMP },
            </if>
            <if test="createUser != null">
              create_user = #{createUser, jdbcType=BIGINT },
            </if>
            <if test="updateAt != null">
              update_at = #{updateAt, jdbcType=TIMESTAMP },
            </if>
            <if test="updateUser != null">
              update_user = #{updateUser, jdbcType=BIGINT },
            </if>
            <if test="remark != null">
              remark = #{remark, jdbcType=VARCHAR },
            </if>
        </set>
        where
            id = #{id}
    </update>

    <delete id="deleteById" parameterType="int">
        delete from t_store_department_config
        where
            id = #{id}
    </delete>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
        parameterType="commission.service.model.StoreDepartmentConfig">
        insert into t_store_department_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="taxRate != null">
                tax_rate,
            </if>
            <if test="orgid != null">
                orgid,
            </if>
            <if test="orgType != null">
                org_type,
            </if>
            <if test="createAt != null">
                create_at,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateAt != null">
                update_at,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id, jdbcType=BIGINT},
            </if>
            <if test="taxRate != null">
                #{taxRate, jdbcType=DECIMAL},
            </if>
            <if test="orgid != null">
                #{orgid, jdbcType=BIGINT},
            </if>
            <if test="orgType != null">
                #{orgType, jdbcType=INTEGER},
            </if>
            <if test="createAt != null">
                #{createAt, jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null">
                #{createUser, jdbcType=BIGINT},
            </if>
            <if test="updateAt != null">
                #{updateAt, jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser, jdbcType=BIGINT},
            </if>
            <if test="remark != null">
                #{remark, jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

</mapper>
