<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jubaozan.commission.dao.mapper.StoreUserExtinfoImportMapper">

    <resultMap id="BaseResultMap" type="commission.model.StoreUserExtinfoImport">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="importId" column="import_id" jdbcType="BIGINT"/>
            <result property="storeId" column="store_id" jdbcType="BIGINT"/>
            <result property="workNo" column="work_no" jdbcType="VARCHAR"/>
            <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
            <result property="departName" column="depart_name" jdbcType="VARCHAR"/>
            <result property="synced" column="synced" jdbcType="BIT"/>
            <result property="createAt" column="create_at" jdbcType="TIMESTAMP"/>
            <result property="syncedAt" column="synced_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="Base_Column_List">
        m.id,m.user_id,m.import_id,m.store_id,m.work_no,m.mobile,m.depart_name,m.synced,m.create_at,m.synced_at
    </sql>

    <select id="getById" parameterType="int" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List" />
        from
            t_store_user_extinfo_import m
        where
            id = #{id}
    </select>

    <select id="countBy" resultType="int">
        select count(*)
        from t_store_user_extinfo_import
        where 1=1
          <if test="query != null and query.id != null">
            and id = #{ query.id, jdbcType=BIGINT }
          </if>
          <if test="query != null and query.userId != null">
            and user_id = #{ query.userId, jdbcType=BIGINT }
          </if>
          <if test="query != null and query.importId != null">
            and import_id = #{ query.importId, jdbcType=BIGINT }
          </if>
          <if test="query != null and query.storeId != null">
            and store_id = #{ query.storeId, jdbcType=BIGINT }
          </if>
          <if test="query != null and query.workNo != null">
            and work_no = #{ query.workNo, jdbcType=VARCHAR }
          </if>
          <if test="query != null and query.mobile != null">
            and mobile = #{ query.mobile, jdbcType=VARCHAR }
          </if>
          <if test="query != null and query.departName != null">
            and depart_name = #{ query.departName, jdbcType=VARCHAR }
          </if>
          <if test="query != null and query.synced != null">
            and synced = #{ query.synced, jdbcType=BIT }
          </if>
          <if test="query != null and query.createAt != null">
            and create_at = #{ query.createAt, jdbcType=TIMESTAMP }
          </if>
          <if test="query != null and query.syncedAt != null">
            and synced_at = #{ query.syncedAt, jdbcType=TIMESTAMP }
          </if>
    </select>

    <select id="search" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List" />
        from t_store_user_extinfo_import m
        where 1=1
            <if test="query != null and query.id != null">
              and id = #{ query.id, jdbcType=BIGINT }
            </if>
            <if test="query != null and query.userId != null">
              and user_id = #{ query.userId, jdbcType=BIGINT }
            </if>
            <if test="query != null and query.importId != null">
              and import_id = #{ query.importId, jdbcType=BIGINT }
            </if>
            <if test="query != null and query.storeId != null">
              and store_id = #{ query.storeId, jdbcType=BIGINT }
            </if>
            <if test="query != null and query.workNo != null">
              and work_no = #{ query.workNo, jdbcType=VARCHAR }
            </if>
            <if test="query != null and query.mobile != null">
              and mobile = #{ query.mobile, jdbcType=VARCHAR }
            </if>
            <if test="query != null and query.departName != null">
              and depart_name = #{ query.departName, jdbcType=VARCHAR }
            </if>
            <if test="query != null and query.synced != null">
              and synced = #{ query.synced, jdbcType=BIT }
            </if>
            <if test="query != null and query.createAt != null">
              and create_at = #{ query.createAt, jdbcType=TIMESTAMP }
            </if>
            <if test="query != null and query.syncedAt != null">
              and synced_at = #{ query.syncedAt, jdbcType=TIMESTAMP }
            </if>

    </select>

    <update id="update" parameterType="commission.model.StoreUserExtinfoImport">
        update t_store_user_extinfo_import
        <set>
            <if test="userId != null">
              user_id = #{userId, jdbcType=BIGINT },
            </if>
            <if test="importId != null">
              import_id = #{importId, jdbcType=BIGINT },
            </if>
            <if test="storeId != null">
              store_id = #{storeId, jdbcType=BIGINT },
            </if>
            <if test="workNo != null">
              work_no = #{workNo, jdbcType=VARCHAR },
            </if>
            <if test="mobile != null">
              mobile = #{mobile, jdbcType=VARCHAR },
            </if>
            <if test="departName != null">
              depart_name = #{departName, jdbcType=VARCHAR },
            </if>
            <if test="synced != null">
              synced = #{synced, jdbcType=BIT },
            </if>
            <if test="createAt != null">
              create_at = #{createAt, jdbcType=TIMESTAMP },
            </if>
            <if test="syncedAt != null">
              synced_at = #{syncedAt, jdbcType=TIMESTAMP },
            </if>
        </set>
        where
            id = #{id}
    </update>

    <delete id="deleteById" parameterType="int">
        delete from t_store_user_extinfo_import
        where
            id = #{id}
    </delete>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
        parameterType="commission.model.StoreUserExtinfoImport">
        insert into t_store_user_extinfo_import
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="importId != null">
                import_id,
            </if>
            <if test="storeId != null">
                store_id,
            </if>
            <if test="workNo != null">
                work_no,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="departName != null">
                depart_name,
            </if>
            <if test="synced != null">
                synced,
            </if>
            <if test="createAt != null">
                create_at,
            </if>
            <if test="syncedAt != null">
                synced_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id, jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId, jdbcType=BIGINT},
            </if>
            <if test="importId != null">
                #{importId, jdbcType=BIGINT},
            </if>
            <if test="storeId != null">
                #{storeId, jdbcType=BIGINT},
            </if>
            <if test="workNo != null">
                #{workNo, jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                #{mobile, jdbcType=VARCHAR},
            </if>
            <if test="departName != null">
                #{departName, jdbcType=VARCHAR},
            </if>
            <if test="synced != null">
                #{synced, jdbcType=BIT},
            </if>
            <if test="createAt != null">
                #{createAt, jdbcType=TIMESTAMP},
            </if>
            <if test="syncedAt != null">
                #{syncedAt, jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

</mapper>
